body {
    font-family: Arial, sans-serif; 
    font-size: 11px; 
    background-color: #ffffff;
    color: hsl(246, 67%, 43%); 
}

h1 {
    color: #000000; 
    font-size: 24px; 
    font-family: Georgia, serif; 
}

h2 {
    background-color: aliceblue;
    color: pink;
}

img {
    width: 1000px;
    height: 900px;
}

@keyframes color-change {
    0% {
      color: blue;
    }
  
    50% {
      color: red;
    }
  
    100% {
      color: blue;
    }
}

h1:hover { animation: color-change 3s infinite; }

h2:hover { animation: color-change 8s infinite; }

.widget-class{
    height: 450px
}
